<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card card-accent-success">
                <div class="card-header">
                    Register New User
                </div>
                <div class="card-body">
                    <form action="" class="form-horizontal" enctype="multipart/form-data" method="post">
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">Type     </label>
                            <div class="col-md-3">
                                <select name="" id="type-user" class="form-control">
                                    <option value="Dosen">Dosen</option>
                                    <option value="Mahasiswa">Mahasiswa</option>
                                    <option value="Ketua Jurusan">Ketua Jurusan</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">Name   </label>
                            <div class="col-md-4">
                                <input type="text" placeholder="Name Person" id="name-user" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">ID  </label>
                            <div class="col-md-4">
                                <input type="text" placeholder="ID Person" id="id-user" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">Username  </label>
                            <div class="col-md-4">
                                <input type="text" placeholder="ID Person" id="username-user" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">Password  </label>
                            <div class="col-md-4">
                                <input type="text" placeholder="Password Person" id="id-user" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>