<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card card-accent-success">
                <div class="card-header">
                    Register New User
                </div>
                <div class="card-body">
                    <form action="" class="form-horizontal" enctype="multipart/form-data" method="post">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>