<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card card-accent-dark">
                <div class="card-header">
                    Inbox
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><input type="checkbox"> </th>
                                <th>Sender</th>
                                <th>Name</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Dosen</td>
                                <td>Ir Amin Hariyadi</td>
                                <td>Lab Riset</td>
                                <td>Lab Riset butuh kursi sebanyak 10 kursi . . .</td>
                                <td>Email</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Action Group">
                                        <button type="" class="btn btn-primary">Approve</button>
                                        <button type="" class="btn btn-success">See</button>
                                        <button class="btn btn-warning">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Dosen</td>
                                <td>Linda Salma A. MPd</td>
                                <td>Internet </td>
                                <td>penambahan akses internet . . .</td>
                                <td>Email</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Action Group">
                                        <button type="" class="btn btn-primary">Approve</button>
                                        <button type="" class="btn btn-success">See</button>
                                        <button class="btn btn-warning">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Dosen</td>
                                <td>Linda Salma A. MPd</td>
                                <td>Internet </td>
                                <td>penambahan akses internet . . .</td>
                                <td>Post</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Action Group">
                                        <button type="" class="btn btn-primary">Approve</button>
                                        <button type="" class="btn btn-success">See</button>
                                        <button class="btn btn-warning">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Mahasiswa</td>
                                <td>Linda Salma A. MPd</td>
                                <td>Internet </td>
                                <td>penambahan akses internet . . .</td>
                                <td>Post</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Action Group">
                                        <button type="" class="btn btn-primary">Approve</button>
                                        <button type="" class="btn btn-success">See</button>
                                        <button class="btn btn-warning">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Mahasiswa</td>
                                <td>Linda Salma A. MPd</td>
                                <td>Internet </td>
                                <td>penambahan akses internet . . .</td>
                                <td>Email</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Action Group">
                                        <button type="" class="btn btn-primary">Approve</button>
                                        <button type="" class="btn btn-success">See</button>
                                        <button class="btn btn-warning">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>