<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card card-accent-dark">
                <div class="card-header">
                    Inbox
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><input type="checkbox"> </th>
                                <th>Sender</th>
                                <th>Name</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Dosen</td>
                                <td>Ir Amin Hariyadi</td>
                                <td>Lab Riset</td>
                                <td>Lab Riset butuh kursi sebanyak 10 kursi . . .</td>
                                <td>Post</td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>Dosen</td>
                                <td>Linda Salma A. MPd</td>
                                <td>Internet </td>
                                <td>penambahan akses internet . . .</td>
                                <td>Post</td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>2012/02/01</td>
                                <td>Admin</td>
                                <td>
                                    <span class="badge badge-secondary">Inactive</span>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>2012/03/01</td>
                                <td>Member</td>
                                <td>
                                    <span class="badge badge-warning">Pending</span>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>2012/01/21</td>
                                <td>Staff</td>
                                <td>
                                    <span class="badge badge-success">Active</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>