<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card card-accent-success">
                <div class="card-header">
                    Outbox
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt maxime corporis quasi illo, beatae numquam! Totam, incidunt temporibus. Pariatur a tempore asperiores facilis suscipit dolores. Minus porro ab quibusdam dignissimos.
                </div>
            </div>
        </div>
    </div>
</div>