<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card card-accent-dark">
                <div class="card-header">
                    New Post
                </div>
                <div class="card-body">
                    <form action="" class="form-horizontal" enctype="multipart/form-data" method="post">
                        <div class="form-group row">
                            <label for="" class="col-md-3 form-control-label"> Title</label>
                            <div class="col-md-6">
                                <input type="text" id="title-post" name="text-input" class="form-control" placeholder="Title Here">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-3 form-control-label">Content</label>
                            <div class="col-md-6">
                                <textarea type="text" id="content-post" name="textarea-input" class="form-control" placeholder="Content Here"> </textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success right"> Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>