<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card card-accent-dark">
                <div class="card-header">
                    New Post
                </div>
                <div class="card-body">
                    <form action="" class="form-horizontal">
                        <div class="form-group row">
                            <label for="" class="col-md-3 form-control-label"> Judul</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>